@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .mainHeader{
    position: relative;
    background-color: #3B4C5C;  
    width: auto;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 100px;
  }
  
  .mainHeader img {
     height: 5vh;
 }

  .navigation {
    padding: 2em;
    width: auto;
  }

  .mainHeader a {
    margin-right: 2em;
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .burger-knap {
    display: none;
  }

  
  .mainHeader .icon:hover {
    color: black;
  }
  
  @media screen and (max-width: 855px) {
  .burger-knap {
      display: block;
  }
    
  .navbar.js-hidden {
      display: none;
  }

  .navbar {
    top: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    background-color: #3B4C5C;  
  }

  .navigation a {
    text-align: center;
    margin: 2px;
    color: white;
  }

  .mainHeader .icon:hover {
    color: white;
  }

}
