@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* #contactForm {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
} */

form {
    display: flex;
    flex-direction: column;
    background-color: #2b353f;
    padding: 25px;
}

.form_font {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

::placeholder {
    color: white;
    font-size: 10px;
}

.form_headline {}

.input_color {
    background-color: #2b353f;
    border: 2px solid #313b46;
    margin-top: 10px;
}

.btn_color {
    color: white;
    border: none;
    background-color: #3b4c5d;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.btn_color svg {
    padding-right: 5px;
    background-color: none3;
    fill: white;
    height: 15px;
    width: 15px;
}